@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


:root {
  --main-font: 'Pretendard';
  /*, 'IBM Plex Sans', sans-serif, ; */
  --width-max: 1300px;
  /* Main Color */
  --color-main: #0f52ba;

  /* Sub Colors */
  --color-sub1: #ff6666;
  --color-sub2: #157772;
  /* Additional Colors */
  --color-main-brighter3: #eef9ff;
  --color-main-brighter2: #c7e6ff;
  --color-main-brighter1: #62a9ef;
  --color-main-darker1: #0e3e77;
  --color-main-darker2: #07253d;

  --color-sub1-brighter4: #fffbf3;
  --color-sub1-brighter3: #fff5f5;
  --color-sub1-brighter2: #fff2d7;
  --color-sub1-brighter1: #ffdede;
  --color-sub1-darker1: #dd4040;

  --color-sub2-brighter2: #d3f2ee;
  --color-sub2-brighter1: #71ccc6;
  --color-sub2-darker1: #095650;

  --color-gray-brighter5: #f2f3f4;
  --color-gray-brighter4: #dadedf;
  --color-gray-brighter3: #c1c7c9;
  --color-gray-brighter2: #a7afb2;
  --color-gray-brighter1: #8c979a;
  --color-gray: #6f7c80;
  --color-gray-darker1: #555f61;
  --color-gray-darker2: #373d3f;
  --color-gray-darker3: #131516;
}

div {
  /* border: solid var(--color-gray-brighter1) 1px; */
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  margin: 0;
  background-color: #000;
}

.nav-bar {
  height: 95px;
  /* box-shadow: #00000020 0 1px 15px 5px; */
  /*수평 수직 흐림  번짐  그림자색상 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin: 0 90px;
}

header hr {
  border: none;
  height: 0.25px;
  background-color: var(--color-gray);
  margin: 0 20px;
}

.nav-bar-logo {
  height: 32px;
  display: flex;
  gap: 20px;
}

.nav-bar-buttons {
  display: flex;
  gap: 5px;
}

.button-default {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-gray-brighter5);
  border: 1px solid #000;
  padding: 3px 15px;
  font-family: var(--main-font);
  font-size: 15px;
  border-radius: 16px;
  height: 32px;
  letter-spacing: 0.05em;
  /*font-weight: bold;*/
}

.button-default:hover {
  border: 1px solid #000;
  color: var(--color-sub1);
}

.nav-bar .button-sign-in {
  background-color: #fff;
  color: #000;
}

.nav-bar .button-sign-in:hover {
  border: 1px solid #000;
  color: var(--color-sub1);
}

.page-wrap {
  position: relative;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
}


.content-1,
.content-2,
.content-3,
.content-4,
.content-5 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.content-1 .content,
.content-2 .content,
.content-3 .content,
.content-4 .content,
.content-5 .content {
  max-width: var(--width-max);
  margin: 0 auto;
  position: relative;
}


.content-1 .button-sign-in {
  color: #fff;
  border: solid 1px #fff;
}

.content-1 .button-sign-in:hover {
  border: 1px solid #fff;
  color: var(--color-sub1);
}


/* 
 background: linear-gradient(45deg, rgba(var(--color-sub2-brighter1), 0.3), rgba(var(--color-sub1-brighter1),0.3));
 */

.content-1 {
  /*  background-image: url(img/bg-content-1.png); */
  color: var(--color-gray-brighter4);
  margin: 70px 0 0 0;
  padding: 0;
}

.content-1 h1 {
  font-size: 4em;
  font-weight: 600;
  color: var(--color-main);
  margin: 90px 0 0 0;
  text-align: center;
  text-decoration: double;
}

.content-1 p {
  line-height: 1.5em;
  font-size: 0.95em;
  font-weight: 200;
  max-width: 750px;
  margin: 20px auto;
  text-align: center;
}

.content-1 strong {
  color: var(--color-main);
  text-shadow:
    -1px -1px 0 var(--color-main-brighter),
    1px -1px 0 var(--color-main-brighter),
    -1px 1px 0 var(--color-main-brighter),
    1px 1px 0 var(--color-main-brighter);
}

.content-1 .content {
  text-align: center;
}

.phone-images img {
  width: 200px;
  margin: 50px 0;
}

.phone-images {
  display: flex;
  overflow: hidden;
  justify-content: center;
  max-width: 1100px;
  margin: 50 auto 120px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 50px), rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 200px), rgba(0, 0, 0, 0) 100%);
  /* For Safari */
}

.content-2 {
  background-color: #fff; 
}

.content-2 .content {
  display: flex;
  flex-direction: column;
}

.content-3 .content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.content-2 h2,
.content-3 h2 {
  color: var(--color-sub2-darker1);
  font-size: 3.2em;
}

.content-2 .sub-context {
  font-size: 1.3em;
  line-height: 1.em;
} 
  
.content-2 ol {
  display: flex;
  padding: 0;
}

.content-2 li {
  flex: 1;
  list-style: none;
  background-color: #fff;
  color: var(--color-main-darker2);
  border: 1px solid var(--color-gray-brighter2);
  margin: 5px;
  padding: 30px;
  /* border-radius: 20px; */
  box-sizing: border-box;
  -webkit-box-shadow: 8px 12px 26px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 8px 12px 26px 0 rgba(0, 0, 0, 0.05);
}

.content-2 .content li img {
  width: 60%;
  max-width: 180px;
}
.content-2 li h3 {
  margin: 0;
  font-size: 0.8em;
  color: var(--color-main);
}
.content-2 li h4 {
  margin:  0;
  font-size: 1.8em; 
}

.content-2 li p {
  font-size: 1.2em;
}
 
.content-3 img {
  height: 90%;
  max-height: 90%;
  margin: auto auto;
}



.content-5 {
  background-color: var(--color-main-darker1);
  clip-path: ellipse(70% 100% at center top);
}

.content-5 .content {
  text-align: center;
  padding: 80px 0;
  font-size: 1.8em;
  color: #fff;
}



@media (max-width:1400px) {

  .content-1 .content,
  .content-2 .content,
  .content-3 .content,
  .content-4 .content,
  .content-5 .content {
    max-width: 90%;
  }
}

/*pc*/
@media (min-width: 581px) and (max-width: 1080px) {}

/*mobile phone*/
@media (max-width: 580px) {
  .nav-bar {
    height: 70px;
    margin: 0 25px;
  }

  .content-1 .content,
  .content-2 .content,
  .content-3 .content,
  .content-4 .content,
  .content-5 .content {
    margin: 0 60px;
  }

  .content-1,
  .content-2,
  .content-3,
  .content-4,
  .content-5 {
    padding: 0;
  }

  .phone-images img {
    margin: 0px 15px;
  }
 
  .content-2 ol {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}