@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

/*pc*/
@media (max-width: 992px) {}
/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {}
/*mobile*/
@media (max-width: 767px) {}

:root {
  --main-font: 'IBM Plex Sans KR', sans-serif;

  /* Main Color */
  --color-main: #0f52ba;

  /* Sub Colors */
  --color-sub1: #ff6666;
  --color-sub2: #157772;
  /* Additional Colors */
  --color-main-brighter3: #eef9ff;
  --color-main-brighter2: #c7e6ff;
  --color-main-brighter1: #62a9ef;
  --color-main-darker1: #0e3e77;
  --color-main-darker2: #07253d;

  --color-sub1-brighter4: #fffbf3;
  --color-sub1-brighter3: #fff5f5;
  --color-sub1-brighter2: #fff2d7;
  --color-sub1-brighter1: #ffdede;
  --color-sub1-darker1: #dd4040;

  --color-sub2-brighter2: #d3f2ee;
  --color-sub2-brighter1: #71ccc6;
  --color-sub2-darker1: #095650;

  --color-gray-brighter5: #f2f3f4;
  --color-gray-brighter4: #dadedf;
  --color-gray-brighter3: #c1c7c9;
  --color-gray-brighter2: #a7afb2;
  --color-gray-brighter1: #8c979a;
  --color-gray: #6f7c80;
  --color-gray-darker1: #555f61;
  --color-gray-darker2: #373d3f;
  --color-gray-darker3: #131516;
}

body {
  font-family: var(--main-font);
}

.font-text{
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

div {
  border: solid var(--color-gray-brighter1) 1px;
}